html {
  height: 100%;
}

body {
	font-family: arial ;
	height: 100%

}

header {
	background: orange;	
	color: white;
	padding: 30px;
}

h1 {
	color: #888;
	margin: 0;
	display: inline;
}

h2 {
	margin: 0;
	display: inline;
}

p {
	background: #555;
	padding: 10px;
	color: white;
}

.secondary {
	padding: 10px;
}


nav ul {
	margin: 0;
	display: inline;
}

nav ul li {
	display: inline-block;
	background: black;
	padding: 15px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: #999;
}

/*Sdiebar*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #999;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;

  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.parallax {
  background-image: url('https://www.soluciones506.com/img/parallax/arbol.jpg');

  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}